<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vinh.wondermusic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.vinh.wondermusic.CustomApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_music"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_music"
        android:supportsRtl="true"
        android:theme="@style/Theme.WonderMusic"
        android:usesCleartextTraffic="true">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />

        <activity
            android:name="com.vinh.wondermusic.activities.TricksActivity"
            android:exported="false" />
        <activity
            android:name="com.vinh.wondermusic.ui.search.SearchActivity"
            android:exported="false"
            android:theme="@style/NoAnimTheme" />
        <activity
            android:name="com.vinh.wondermusic.ui.type.TypeActivity"
            android:exported="false" />

        <receiver
            android:name="com.vinh.wondermusic.widget.MusicWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/music_widget_info" />
        </receiver>

        <service android:name="com.vinh.wondermusic.service.MusicService" />
        <service
            android:name="com.vinh.wondermusic.service.NotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.vinh.wondermusic.broadcast.MusicBroadcast"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.wonder.music" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.vinh.wondermusic.ui.forgetpassword.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.vinh.wondermusic.ui.notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name="com.vinh.wondermusic.ui.comment.reply.CommentReplyActivity"
            android:exported="false" />
        <activity
            android:name="com.vinh.wondermusic.ui.formsong.FormSongActivity"
            android:exported="false" />
        <activity
            android:name="com.vinh.wondermusic.ui.account.AccountActivity"
            android:exported="false" />
        <activity
            android:name="com.vinh.wondermusic.ui.comment.CommentActivity"
            android:exported="false" />
        <activity
            android:name="com.vinh.wondermusic.ui.home.HomeActivity"
            android:exported="true" />
        <activity
            android:name="com.vinh.wondermusic.ui.player.PlayerActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:parentActivityName="com.vinh.wondermusic.ui.home.HomeActivity"
            android:taskAffinity="" />
        <activity
            android:name="com.vinh.wondermusic.ui.signup.SignupActivity"
            android:exported="false" />
        <activity
            android:name="com.vinh.wondermusic.ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.vinh.wondermusic.ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>